{% for producto in lista %}
<div class="col">
  <div class="card h-100">
    <!-- Foto -->
    <a href="/Envase/listarXProducto/{{producto[0]}}" class="text-decoration-none">
      <img class="card-img-top img-fluid" src="{{producto[2]}}" alt="Foto de {{producto[1]}}" />
      <!-- Detalles -->
      <div class="card-body p-3">
        <div class="text-center">
          <h5 class="fw-bolder">{{producto[1]}}</h5>
          <h6 class="fw-lighter">({{producto[5]}})</h6>
          {% if producto[8] < producto[3] %}
            <span class="badge bg-danger">
              <p class="mb-0 ">Cantidad: {{producto[8]}} {{producto[7]}}
                <i class="bi bi-exclamation-triangle-fill"></i>
              </p>
            </span>
          {% else %}
            <p class="mb-0 ">Cantidad: {{producto[8]}} {{producto[7]}}</p>
          {% endif %}
          <p class="mb-0">Mínimo: {{producto[3]}} {{producto[7]}}</p>
        </div>
      </div>
    </a>
    <!-- Product actions-->
    <div class="card-footer border-top-0 bg-transparent">
      <div class="row justify-content-center">
        <div class="col-3">
          <a href="/{{entidad}}/modificar/{{producto[0]}}" class="btn btn-warning" title="Modificar {{entidad}}">
            <i class="bi bi-pencil-square"></i>
          </a>
        </div>
        <div class="col-3">
          <a href="/{{entidad}}/borrar/{{producto[0]}}" class="btn btn-danger" title="Borrar {{entidad}}">
            <i class="bi bi-trash3-fill"></i>
          </a>
        </div>
        <div class="col-6">
          <a href="/{{entidad}}/consumir/{{producto[0]}}" class="btn btn-success" title="Consumir {{entidad}}">
            +1/-1</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
