{% for producto in lista %}
<div class="col">
  <div class="card h-100">
    <!-- Foto -->
    <a href="/{{entidad}}/consumir/{{producto[0]}}" class="text-decoration-none">
      <div>
        {% if producto[8] < producto[3] %}
          <div class="float-end mt-0 z-3">
            <i class="bi bi-exclamation-triangle-fill text-danger"></i>
          </div>
        {% endif %}      
        <img class="card-img-top img-fluid z-0" src="{{producto[2]}}" alt="Foto de {{producto[1]}}">
        </img>
      </div>
      <!-- Detalles -->
      <div class="card-body pt-0 pb-1">
        <div class="text-center">
          <p
            {% if producto[8] < producto[3] %}
              style="font-size: 55%;" class="badge bg-danger text-wrap m-0"
            {% else %}
              style="font-size: 65%;" class="m-0"
            {% endif %}
                >{{producto[8]}} {{producto[7]}} (min: {{producto[3]}})</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}
