<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-2 px-sm-3 px-md-4 px-lg-5">
    <a class="navbar-brand" href="/Producto/consumir">CRUD Productos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/Stock/consumirStock" {{accesoATablas}}>Comprar/Consumir</a>
        </li>
        <li class="nav-item dropdown">
          <a
            {{accesoATablas}}
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Listados</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/Stock/listarXVencer">Listar Stock x Vencer</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Stock/listarConsumido">Listar Stock Consumido</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            {{accesoATablas}}
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ><i class="bi bi-gear-fill"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <li>
              <a
                class="dropdown-item"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#modalAgregar"
                >Agregar</a>
            </li>
            <li><hr class="dropdown-divider" /></li> -->
            <li>
              <a class="dropdown-item" href="/Unidad/listar">Unidades</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Presentacion/listar">Presentaciones</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Grupo/listar">Grupos de Productos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Producto/listar">Productos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Envase/listar">Envases</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Stock/listar">Stock</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" {{accesoATablas}}>Salir</a>
        </li>
      </ul>
      <form id="formBuscarProducto" action="/Producto/buscar" method="POST" {{accesoATablas}}>
        <div class="d-flex me-2">
          <input type="search" id="buscarProducto" name="buscarProducto" placeholder="Producto"
            aria-label="Search" class="form-control me-2" minlength="3"/>
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search">Producto</i></button>
        </div>
      </form>
      <form id="formBuscarStock" action="/Stock/buscar" method="POST" {{accesoATablas}}>
        <div class="d-flex">
          <input type="search" id="buscarStock" name="buscarStock" placeholder="Stock"
            aria-label="Search" class="form-control me-2" minlength="3"/>
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search">Stock</i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
