{% include 'comunes/inicioHtml.html' %}
<section class="py-3 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <h1 class="h3">Listado de {{entidad}}s</h1>
        <p class="lead">{{todasLasEntidadesExistentes}}</p>
      </div>
      <div class="col-1">
        <div class="float-end mt-5">  
          <a href="#" class="btn btn-success" data-bs-toggle="modal" 
           data-bs-target="#modalAgregar{{entidad}}">
           <i class="bi bi-plus-square"></i>
          </a>
        </div>
      </div>
    </div>
    {% if listaVacia %}
      <div class="row mt-0">
        <div class="col-12">
          <p class="display-5 text-danger">Ooops! Parece que no hay {{entidad}}s...</p>
        </div>
      </div>
    {% else %}
      <div class="row g-2 mt-0 mb-1 pb-1 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5" data-masonry='{"percentPosition": true }' >
          {% include 'Producto/partes/card.html' %}
      </div>
    {% endif %}
    <div>
      <a href="/Grupo/listar" class="btn btn-primary">Ir a Grupos</a>
    </div>        
  </div>
</section>

{% include 'Producto/partes/modalAgregar.html' %}
<script src="/static/scripts/fotobase64.js"></script>
{% include 'comunes/finHtml.html' %}