{% include 'comunes/inicioHtml.html' %}
<div class="container mt-3">
  <div class="row">
    <div class="col-11">
      <h1 class="h3">Listado de {{entidad}}es</h1>
      <p class="lead">{{todasLasEntidadesExistentes}}</p>
    </div>
    <div class="col-1">
      <div class="float-end mt-5">  
        <a href="#" class="btn btn-success btn-lg"
        data-bs-toggle="modal" data-bs-target="#modalAgregar{{entidad}}">
          <i class="bi bi-plus-square"></i>
        </a>
      </div>
    </div>
  </div>
  {% if listaVacia %}
    <div class="row mt-4">
      <div class="col-12">
          <p class="display-5 text-danger">Ooops! Parece que no hay {{entidad}}es...</p>
      </div>
    </div>
  {% else %}
    <div class="row g-2 mt-0 mb-1 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6" data-masonry='{"percentPosition": true }' >
      {% include 'Presentacion/partes/card.html' %}
    </div>
  {% endif %}
</div>
{% include 'Presentacion/partes/modalAgregar.html' %}
{% include 'comunes/finHtml.html' %}