{% include 'comunes/inicioHtml.html' %}
<section class="py-3">
  <div class="container">
    <div class="row">
      <h1 class="h3">Editando {{entidad}}</h1>
      <p class="lead">Estás a punto de editar a {{itemAEditar[2]}}. Asegurate de hacer click en "Confirmar cambios".</p>
    </div>
  </div>
  <div class="container px-4 mt-3">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8" >
        <form id="formAgregar{{entidad}}" action="/{{entidad}}/modificar2/{{itemAEditar[0]}}"
          method="post" class="was-validated border p-4 rounded-3 bg-light">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <label for="id_producto" class="form-label">Producto</label>
              <select class="form-control" id="id_producto" name="id_producto" placeholder="Ingrese un Producto" required>
                {% for producto in listaProductos %}
                  {% if producto[0] == itemAEditar[1] %}
                    <option value="{{producto[0]}}" selected>{{producto[3]}}</option>
                  {% else %}
                    <option value="{{producto[0]}}">{{producto[3]}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-6 mb-3">
              <label for="presentacion" class="form-label">Presentacion</label>
              <input type="text" class="form-control" id="presentacion" name="presentacion" value="{{itemAEditar[3]}}" required>
            </div>
            <!-- <div class="col-sm-6 mb-3">
              <label for="fecha_compra" class="form-label">Fecha de Compra</label>
              <input type="date" class="form-control" id="fecha_compra" name="fecha_compra" value="{{itemAEditar[4]}}" required>
            </div>
            <div class="col-sm-6 mb-3">
              <label for="fecha_uso" class="form-label">Fecha de Uso</label>
              <input type="date" class="form-control" id="fecha_uso" name="fecha_uso" value="{{itemAEditar[5]}}">
            </div> -->
          </div>
          <div class="row justify-content-end mt-2">
            <div class="col-12">
              <div class="float-end">
                <a href="{{retornarA}}" class="btn btn-secondary">Volver atrás</a>
                <button type="submit" class="btn btn-warning">Confirmar cambios</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include 'comunes/finHtml.html' %}