{% for tenencia in lista %}
  <tr class="table-success">
    <td>{{tenencia[2]}}</td>
    <td>{{tenencia[3]}}</td>
    <td>{{tenencia[4]}}</td>
    <td>{{tenencia[5]}}</td>
    <td>
      <!-- Aciones -->
      <div class="row justify-content-center">
        <div class="col-6">
          <a href="/{{entidad}}/modificar/{{tenencia[0]}}" class="btn btn-warning btn-block w-100">Editar</a>
        </div>
        <div class="col-6">
          <a href="/{{entidad}}/borrar/{{tenencia[0]}}" class="btn btn-danger btn-block w-100">Borrar</a>
        </div>
      </div>
    </td>
  </tr>
{% endfor %}
