<div class="modal fade" id="modalAgregar{{entidad}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar {{entidad}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAgregar{{entidad}}" action="/{{entidad}}/crear"
                  method="POST" class="was-validated">
                <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12 mb-3">
                        <label for="id_grupo" class="form-label">Grupo</label>
                        <select class="form-control" id="id_grupo" name="id_grupo" placeholder="Ingrese un Grupo" required>
                          {% for grupo in listaGrupos %}
                            <option value="{{grupo[0]}}">{{grupo[1]}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-12 mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label for="stock_min" class="form-label">Stock Mínimo</label>
                        <input type="number" class="form-control" id="stock_min" name="stock_min" required>
                      </div>          
                      <div class="col-sm-6 mb-3">
                        <label for="id_unidad" class="form-label">Unidad de Medida</label>
                        <select class="form-control" id="id_unidad" name="id_unidad" placeholder="Ingrese un Unidad de Medida" required>
                          {% for unidad in listaUnidades %}
                            <option value="{{unidad[0]}}">{{unidad[1]}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-12 mb-3">
                        <label for="foto" class="form-label">Cargar foto</label>
                        <input type="file" class="form-control" id="inputFoto" name="foto">
                        <input type="hidden" id="fotoBase64" name="fotoBase64">
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
