<div class="modal fade" id="modalAgregar{{entidad}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar {{entidad}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="formAgregar{{entidad}}" action="/{{entidad}}/crear"
            method="POST" class="was-validated">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <label for="id_envase" class="form-label">Producto</label>
              <select class="form-control" id="id_envase" name="id_envase" placeholder="Ingrese un Producto y Envase" required>
                {% for prod_pres in listaProd_pres %}
                  <option value="{{prod_pres[0]}}">{{prod_pres[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <label for="fecha_vencimiento" class="form-label mb-0">Fechas de:</label>
            <div class="input-group border border-2 mx-auto py-1">
              <div class="col-sm-4 mx-2">
                <label for="fecha_vencimiento" class="form-label mb-0">Vencimiento</label>
                <input type="date" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" required>
              </div>
              <div class="col-sm-4 mx-2">
                <label for="fecha_compra" class="form-label mb-0">Compra</label>
                <input type="date" class="form-control" id="fecha_compra" name="fecha_compra" required>
              </div>
              <div class="col-sm-4 mx-2">
                <label for="fecha_uso" class="form-label mb-0">Uso</label>
                <input type="date" class="form-control" id="fecha_uso" name="fecha_uso">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Agregar {{entidad}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
